/* =========
Your custom styles go here
 ========= */
 @font-face {
    font-family: 'social';
    src: url('../fonts/social.eot');
    src: url('../fonts/social.eot?#iefix') format('embedded-opentype'),
         url('../fonts/social.woff') format('woff'),
         url('../fonts/social.ttf') format('truetype'),
         url('../fonts/social.svg#social') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='sc-']:before{
	display: inline-block;
   font-family: 'social';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.sc-facebook:before{content:'\0041';}
.sc-twitter:before{content:'\0042';}
 
.sc-icon {
    background: #000000;
    font-size: 18pt;
    padding: 10px;
    display: inline-block;
    line-height: 1rem;
    color: #fff;
}

.sc-icon:first-child {
    margin-right: 5%;
}

 @font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Framework7Icons-Regular.eot");
  src: local('Framework7 Icons'),
     local('Framework7Icons-Regular'),
     url("../fonts/Framework7Icons-Regular.woff2") format("woff2"),
     url("../fonts/Framework7Icons-Regular.woff") format("woff"),
     url("../fonts/Framework7Icons-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/icons/Glyphter.eot');
    src: url('../fonts/icons/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/icons/Glyphter.woff') format('woff'),
         url('../fonts/icons/Glyphter.ttf') format('truetype'),
         url('../fonts/icons/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProxymaNova';
    src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
         url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype'),
         url('../fonts/ProximaNova-Bold/ProximaNova-Bold.svg#ProxymaNova') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ProxymaNova';
    src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'),
         url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype'),
         url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.svg#ProxymaNova') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProxymaNova';
    src: url('../fonts/proxymanovaregular/ProximaNova-Regular.eot');
    src: url('../fonts/proxymanovaregular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxymanovaregular/ProximaNova-Regular.woff') format('woff'),
         url('../fonts/proxymanovaregular/ProximaNova-Regular.ttf') format('truetype'),
         url('../fonts/proxymanovaregular/ProximaNova-Regular.svg#ProxymaNova') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'fontello';
    src: url('../fonts/icons/fontello.eot?56904782');
    src: url('../fonts/icons/fontello.eot?56904782#iefix') format('embedded-opentype'),
         url('../fonts/icons/fontello.woff2?56904782') format('woff2'),
         url('../fonts/icons/fontello.woff?56904782') format('woff'),
         url('../fonts/icons/fontello.ttf?56904782') format('truetype'),
         url('../fonts/icons/fontello.svg?56904782#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
br {
    line-height: 0;
    height: 0;
    font-size: 0px;
    padding: 0;
    margin: 0;
}
  .fontello {
      font-family: 'fontello';

}
   
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

  
[class*='icon-']:before{
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   margin: 0;
   font-size: 28px;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   width: 28px;
   height: 28px;
}

.views {
    z-index: 2099;
}

.icon-Burger {
    width:28px; 
    height:28px;
}

a {
    color: #1F2328;
}

.icon-arrow-black:before{content:'\0041';color:#ffffff;}
.icon-AA:before{content:'\0042'; color: #ffffff;}
.icon-AA-big:before{content:'\0043'; color: #ffffff;}
.icon-Burger:before{content:'\0044';}
.icon-fb:before{content:'\0045';}
.icon-Logo:before{content:'\0046';font-size: 200px; width:100%; height: auto;}
.icon-share-white:before{content:'\0047'; color: #ffffff;}
.icon-star-white:before{content:'\0048'; color: #ffffff;}
.icon-star-black:before{content:'\0048'; color:#000000;}
.icon-twitter:before{content:'\0049';}
.icon-video:before{content:'\004a';}
.icon-Delete:before{content:'\004c';}
.icon-star-border:before{content:'\004d';}

i.icon.icon-bars {
    width: 42px;
    height: 42px;
}

.no-connection {
    position: relative;
    width: 100%;
    height: 100%;
}

.no-connection__container, 
.no-favorites__container {
    position: absolute;
    width: 100%;
    height: 200px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.no-connection__text,
.no-favorites__text {
    display: block;
    font-size: 14pt;
    letter-spacing: 0.7pt;
    color: #AAA9A9;    
}

.offline-icon,
.no-favorites-icon {
    display: inline-block;
    position: relative;
}

.no-favorites-icon:before {
    content: '';
    background-image: url('../images/supportImages/no-favourites@3x.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    display: inline-block;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-position: center;
}

.offline-icon:before {
    content: '';
    background-image: url('../images/supportImages/noConnection@3x.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    display: inline-block;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-position: center;
}

.yt-icon {
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: rgba(255,255,255,.3);
    border-radius: 50%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.trinagular-icon {
    color: #FF3500;
    background-color: transparent;
    width: 0;
    height: 0px;
    display: inline-block;
    margin: auto;
    position: absolute;
    right: 0;
    left: 4px;
    top: 0;
    bottom: 0;
    border-top: 8px solid transparent;
    border-left: 12px solid #FF3500;
    border-bottom: 8px solid transparent;
}

.no-image:before {
    content: '';
    background-image: url('../images/supportImages/no-photo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-position: center;
}

.no-image {
    background-color: #d4d4d4;    
} 


.icon-Trash {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../images/icons/trash/delete@3x.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-Trash {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../images/icons/trash/delete@3x.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-icon {
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-icon i {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center;
}

/*CSS TRANSITION GROUP*/
.example-appear {
    opacity: 0.01;
}
  
.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s;
    transition-timing-function: ease-in;
}
/*/.CSS TRANSITION GROUP*/

* {
    padding: 0;
    margin: 0;
}

body * {
    font-family: 'ProxymaNova';
    font-weight: 400;
}

span, div, p, hr,em, h1,h2,h3,h4,h5,h6, cite, br, {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

iframe {
    width: 100%;
    max-width: 100%;
    /* max-height: 200px; */
    position: relative;
}

video {
    width: 100%!important;
    max-width: 100%!important;
    position: relative;
}

.f7-icons, .framework7-icons {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
}
body {
    font-family: 'Roboto', sans-serif;
}

 .navbar, .subnavbar, .toolbar {
 	background: #FF3500;
 }

 .panel-left .ictv-logo {
     box-shadow: none;
     min-height: 150px;
 }

 .ictv-logo__container {

    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    box-shadow: none;
    position: relative;
 }

.news-list {
    margin: 0;
}

 .navbar__link-title .item-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
 }

.navbar__sublink-title .item-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;    
    letter-spacing: 1px;    
    color: #1f2328;
}

.navbar__sublink-title .item-content {
    padding-left: 30px;
    line-height: 16px;
    min-height: 20px;
}

.navbar__sublink-title .item-link .item-inner {
    background-image: none;
    padding: 0;
}

.navbar__link-title .item-inner {
	background-image: none!important;
}

.ListItem__container {
	position: relative;
}

.Card {
	display: flex;
	flex-flow: row wrap;
    align-items: flex-start;
    width: 100%;
    color: #1f2328;
}

.Card-container {
    position: relative;
}

.Card .item-inner:after {
    display: none;
}

.Card .item-link {
	flex: 100%;
}

.Card .item-content {
    padding-left: 0;
    position: relative;
}

.Card .card__footer {
    position: relative;
}

.Card .card__category {
    position: absolute;
    top: -8pt;
    z-index: 999;
    background: black;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 16pt;
    max-height: 16pt;
    padding: 0 5pt;
    font-size: 10pt;
    font-weight: 600;
    letter-spacing: 1.2pt;
}
    

.Card .item-inner {
	padding: 0!important;
	background-image: none!important;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.Card .card__footer {
    padding: 15pt 16pt 7pt;
}

.card__date {
    font-size: 12pt;
    letter-spacing: .7pt;
    color: #aaa9a9!important;    
}

/*content-block of news*/
.NewsView__video .preloader {
    margin: auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.NewsView .content-block h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 15px 0 10px;
}

.NewsView .card__date {
    padding-top: 16px;
}

.NewsView .content-block h2 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    padding: 10px 0 5px;
    text-align: left!important;
}

.NewsView .content-block h3 {
    text-align: left!important;
}

.NewsView__video,
.NewsView__img {
    position: relative;
    overflow: hidden;
}

.NewsView__img img {
    max-width: 100%;
    height: auto;
    position: relative;
}

.NewsView .content-block-inner:before,
.NewsView .content-block-inner:after {
    content: none;
}

.NewsView .content-block,
.AboutUsView .content-block {
    margin: 0!important;
    padding: 0 30px 30px!important;
}

.aboutUs__footer {
    position: absolute;
    bottom: 0; 
}

.aboutUs__footer .sc-twitter {
    margin-right: 20px;
}

.NewsView a {
    color: #1f2328;
}

.NewsView .content-block-inner {
    padding: 0;
    margin: 0;
}

.NewsView .news__title {
    line-height: 18pt;
    font-weight: 700;
    font-size: 16pt;
    letter-spacing: .6pt;
    padding-bottom: 14px;
    padding-top: 15px;
}

.NewsView a,
.NewsView p,
.NewsView .content-block-inner {
    line-height: 14pt;
    font-size: 12pt;
    letter-spacing: .5px;
    padding: 0;
    margin: 0;
    text-align: left!important;
}

.NewsView .bigFont .news__title {
    font-size: 18pt;
    line-height: 20pt;
}

.NewsView .read-also {
    margin: 15px 0;
}

.NewsView strong {
    font-weight: 600;
}

.NewsView ul {
    padding-left: 30px;
}

.ytp-icon-large-play-button-hover {
    background-color: black;
}

.read-also strong {
    background-color: rgb(252,83,0);
    color: #fff;
    font-size: 15px;
    padding: 2px 5px;
}

.read-also a {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .5px;
}

.NewsView .content-block.bigFont a,
.NewsView .content-block.bigFont p,
.NewsView .content-block.bigFont .content-block-inner {
    font-size: 18px;
}
.NewsView .card__category {
    position: absolute;
    top: -12pt;
    z-index: 999;
    background: black;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 20pt;
    max-height: 20pt;
    padding: 0 5pt;
    font-size: 10pt;
    font-weight: 600;
    letter-spacing: 1.2pt;
}
.NewsView .bigFont .card__date {
    font-size: 14pt;
}

.NewsView .bigFont .card__category {
    font-size: 12pt;
}

.NewsView .news__content {
    line-height: 18pt;
    word-wrap: break-word;
}
/*/.end content-block of news*/

/*FavoritesView*/

/*/.end FavoritesView*/

.img__container,
.video__container {
	flex: 1 0 100%;
    height: 180pt;
    overflow: hidden;
    position: relative;
}

.Card .item-inner:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/supportImages/no-photo.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center 25%;
}

.img__container img {
    width: 100%;
    height: auto;
    display: none;
}

.save-news {
    width: 50px;
    line-height: 50px;
	background-color: #fff;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	color: red;
	position: absolute!important;
    right: 15px;
    top: 10px;
    z-index: 99;
    font-size: 32px;
    text-align: center;
}

.ictv-icon {
    width: 25pt;
    height: 25pt;
    background-image: url('../images/star-white@3x.png');
}

.ictv-icon.active {
    background-image: url('../images/star@3x.png');    
}

.save-news:after {
	display: none;
	
}

.save-news .item-content {
	padding: 0;
    text-align: center;
    min-height: auto;
    height: 25px;
    width: 25px;
}

.save-news .item-inner {
padding: 0;
    margin: 0;
    background-image: none;
    background-position: center;
    background: 100%;
    display: block;
    height: 25px;
    min-height: auto;
    width: 100%;
}

.navbar-inner .center {
    text-transform: uppercase;
    letter-spacing: 2px;
    flex: 1;
    position: relative;
}

.navbar-inner .center .icon-Logo {
    height: 56px;
    display: block;
    margin: auto;
}

.navbar-inner .center .icon-Logo:before {
    font-size: 120px;
    width: 100%;
    line-height: 56px;
    height: auto;
}

.navbar-inner .navbar-icon button {
    padding: 0!important;
    vertical-align: middle!important;
    width: 28px!important;
    height: 28px!important;
}

.navbar a.link span+i {
    margin-left: 0;
}

.panel-left .navbar-through.view .page-content {
    background-color: #FF3500;
    padding-top: 150px;
}

.panel-left .list-block {
    margin: 18px 0 42px;
}

.panel-left ul {
    padding-left: 10%;
}

.panel-left .list-block li {
    max-height: 30px;
}

.panel-left .list-block ul:before,
.panel-left .list-block ul:after,
.panel-left .item-inner:after {
    display: none;
}

.empty-list__title {
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
}

.mainView-title {
    padding: 0;
    margin: 0;
    font-size: 14pt;
    line-height: 16pt;
    font-weight: 600;
    letter-spacing: .6pt;
}

.preloader {
    width: 47px;
    height: 47px;
    margin: 15px auto;
}

.preloader-inner .preloader-inner-half-circle {
    border: 4px solid #FF521C;
}

.pull-to-refresh-layer .pull-to-refresh-arrow {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'-80%204%2024%2024'%3E%3Cpath%20d%3D'M-69%2C8v12.2l-5.6-5.6L-76%2C16l8%2C8l8-8l-1.4-1.4l-5.6%2C5.6V8H-69z'%20fill%3D'%23ff521c'%2F%3E%3C%2Fsvg%3E")
}

.pull-to-refresh-layer .preloader {
    display: none!important;
}

/*FAVORITES*/
.FavoritesView .list-block ul:after,
.FavoritesView .list-block ul:before,
.FavoritesView .list-block .item-inner:after {
    content: none;
}

.FavoritesView .list-block .item-link .item-inner {
    background-image: none;
}

.list-block .swipeout-actions-left a.swipeout-delete, 
.list-block .swipeout-actions-right a.swipeout-delete {
    background: #ffffff;
}
.favorite__item .item-title{
    padding: 0;
    margin: 0;
    font-size: 13pt;
    line-height: 16pt;
    white-space: normal;
}

.favorite__item  .card__category {
    background: black;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 2pt 5pt;
    font-size: 10pt;
    vertical-align: top;
    font-weight: 600;
    margin-right: 10px;
    letter-spacing: 1.2pt;
}

.favorite__item .list-block .item-title {
    font-weight: 600;
    text-overflow: ellipsis;
}

.favorite__item .card__title {
    font-weight: 600;
}

.favorite__item .card__date {
    font-size: 11pt;
}
/*/.End FAVORITES*/

.pannel__language {
    font-size: 20px;
    padding: 5px 15px;
    position: relative;
}

.pannel__language:first-child {
    margin-right: 15%;
}

.pannel__language.active:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 7px;
    height: 7px;
    background-color: #000000;
    display: inline-block;
    margin: auto;
}

.language__container {
    padding-left: 10%;
}

/*TESTED MENU*/
.panel {
    width: 280px;
}
body.with-panel-left-reveal .views,
body.with-panel-left-reveal .panel-overlay {
    -webkit-transform: translateX(280px);
    transform: translateX(280px);
}
/* /.end TESTED MENU*/

/*TESSTTTTTTTT ANIMATIONS*/
/* body.with-panel-left-reveal .views, 
body.with-panel-left-reveal .panel-overlay {
    transform: none;
    margin-left: 300px;
    transition: all .3s ease-in-out;
}
.panel,
.panel-overlay {
    transform: none;    
    margin-left: 0;
    transition: all .3s ease-in-out; 
} */
/*TESTTTTT ANIMATIONS*/



/* Similarly: */
@media (-webkit-max-device-pixel-ratio: 2) {
}
/* ... is equivalent to: */
@media (max-resolution: 2dppx) {

}

.Menu * {
    z-index: 6000!important;
}

/* ===============PAGE ABOUT US ===============*/
.AboutUsView .aboutUs__header {
    font-size: 15pt;
    font-weight: 600;
    letter-spacing: .6px;
    line-height: 24pt;
    margin-top: 30px!important;
}

.AboutUsView .content-block {
    color: #1F2328;
}

.AboutUsView .aboutUs__header .mark {
    color: #ff3500!important;
}

.AboutUsView .aboutUs__list {
    font-size: 12pt;
    font-weight: 600;
    letter-spacing: .6px;
    line-height: 20pt; 
    padding-bottom: 5pt!important; 
}

.AboutUsView .aboutUs__pros {
    padding-left: 20px;
    list-style-type: square;
}

.AboutUsView .aboutUs__pros li {
    margin-bottom: 10pt;    
}

.AboutUsView .confidintation {
    font-size: 13pt;
    font-weight: 700;
    position: relative;
    margin: 0;
    display: inline-block;
    width: 100%;
    margin-bottom: 10%;
}

.AboutUsView .confidintation:before {
    content: '';
    background-color: #000000;
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.AboutUsView .aboutUs__version {
    font-size: 10pt;
    letter-spacing: .7pt;
    color: #aaa9a9!important;
    margin-top: 6%;
}

/* .popup-about {
    height: 75%;
    top: 25%;
} */

.popup.modal-in.popup-about {
    transform: translate3d(0,40%,0);
}

.popup-about .content-block {
    padding: 0 30px;
    position: relative;
}

.popup-about .close-popup {
    font-size: 24pt;
    font-weight: 700;
    position: absolute;
    top: -20px;
    right: 10px;
    padding: 10px;
    display: inline-block;
    line-height: 1rem;
}

.popup-about .popup-title {
    font-size: 16pt;
    font-weight: 600;
    padding-top: 15pt;
    letter-spacing: .6pt;
}

.popup-about .popup-content {
    font-size: 12pt;
    letter-spacing: .6pt;
}
/*================/.END PAGE ABOUT US==+++======*/

/*=================Material-menu===============*/
.Menu {

}

.Menu_Container {
    background-color: #FF3500!important;
}

.Menu_Container .ictv-logo__container {
    height: 120px;
}

.Menu_Container .ictv-logo__container:before {
    font-size: 130pt;
    line-height: 110pt;
    color: #ffffff;
}

.Menu_Container .list-block ul:before,
.Menu_Container .list-block .item-inner:after,
.Menu_Container .list-block ul:after {
    content: none;
}

.Menu_Container .list-block {
    margin: 0 0 15px;
    padding-left: 30px;
}

.Menu_Container .navbar__link-title .item-title {
    font-size: 16pt;
}

.Menu_Container .list-block .item-content {
    min-height: 34px;
}

.Menu_Container .list-block .item-inner {
    min-height: 32px;
    padding: 0;    
}

.Menu_Container .navbar__link-title {
    color: #ffffff;
}

.Menu_Container .pannel__language {
    color: #ffffff;
}
/*=================/.END Material-menu===============*/